<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.QueriedWordsMapper">
    <select id="selectBy" resultType="QueriedWords">
        select *
        from t_queriedWords
        where 1=1
        <if test='aa!=null and aa !="" and aa == "a"'>
            and word =#{aa} and translate =#{aa}
        </if>
        <if test='bb!=null and bb!="" and bb == "b"'>
            and word =#{bb} and translate =#{bb}
        </if>

    </select>
</mapper>
